@import url("//cdn.web-fonts.ge/fonts/alk-rex-bold/css/alk-rex-bold.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ALK Rex Bold", sans-serif;
}

body {
    overflow: hidden;
}

.hero-img {
    width: 105vw;
    height: 105vh;
    position: absolute;
    z-index: -999;
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(23, 39, 7, 0.41);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20.7px);
    -webkit-backdrop-filter: blur(11.7px);
    z-index: -99;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.9rem;
}

ul {
    list-style-type: none;
}

.logo-img {
    width: 120px;
    border-radius: 50%;    
    cursor: pointer;
    border: 1px solid #fff;
    transition: .5s;
    box-shadow: 0 0 10px #368640;
}

.logo-img:hover {
    box-shadow: 0 0 30px #0b5215;
}

header {
    width: 100vw;
    height: 170px;
    background: rgb(66,99,58);
    background: linear-gradient(90deg, rgba(66,99,58,0.1) 0%, rgba(27,73,25,0.1) 0%, rgba(34,73,10,0.1) 50%, rgba(168,189,168,0.1) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;
}


header ul {
    display: flex;
    width: 660px;
    justify-content: space-between;
    position: relative;
    right: 120px;
}

header li {
    display: inline-block;
    position: relative;
    color: #0087ca;
    margin: 0 50px;
    text-shadow: 0 0 3px #53f669;
}
  
header li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #53f669;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
  
li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

main {
    width: 1100px;
    height: 650px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    outline: 1px solid #fff;
    background: rgb(66,99,58);
    background: linear-gradient(90deg, rgba(66,99,58,0.3) 0%, rgba(27,73,25,0.5) 0%, rgba(34,73,10,0.5) 50%, rgba(168,189,168,0.3) 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;   
    color: #fff;
}

.hero-txt {
    color: white;
    font-size: 3.4rem;
    word-spacing: 15px;
    letter-spacing: 2px;
    opacity: .8;
    text-shadow: 0 0 10px #069a37;
    cursor: default;
    margin-bottom: 10px;
    transition: .5s;
    margin-bottom: 25px;
}

.hero-txt:hover {
    text-shadow: 0 0 30px #0b5215;
}

.contact {
    display: flex;
}

.cont-inputs {
    display: flex;
    flex-direction: column;
    position: relative;
}


input, textarea, button {
    margin: 15px;
    width: 150px;
    height: 50px;
}

input, textarea {
    border-radius: 5px;
    padding: 10px;
}

textarea {
    resize: none;
    width: 350px;
    height: 400px;
    overflow: hidden;
}

input, textarea {
    background-color: rgba(0, 0, 0, 0.1);
    outline: 1px solid white;
    border: none;
}

textarea:focus, input:focus {
    color: #0ce01a;
}

input, select, textarea{
    color: #fff;
}

.lil-box {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    outline: none;
    width: 150px;
    height: 150px;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: .5s;
    color: #0b5215;
    position: relative;
}

button:hover {
    outline: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.contact {
    width: 90%;
    height: 70%;
    background-color: rgba(20, 85, 21, 0.206);
    border-radius: 10px;
    position: relative;
}

.lil-box {
    position: absolute;
    right: -50px;
    background: rgba(53, 252, 42, 0.184);
    border-radius: 20px;
    padding: 10px;
    top: 25%;
}

p a {
    font-size: 1rem;
    position: relative;
    left: 10px;
}

div img {
    width: 25px;
}

.yt img {
    width: 35px;
}

.yt {
    position: relative;
    right: 3px;
}

.cont {
    display: flex;
    width: 170px;
    position: relative;
    margin: 10px;

}

.yt p {
    position: relative;
    top: 7px;
    right: 5px;
}